.container {
	display: flex;
	height: 100%;
	width: 100%;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.login-box {
	/* elevation: 3; */
	background-color: #c42228;
	padding: 10px;
	margin-left: 10px;
	margin-right: 10px;
	width: calc(100% - 100px);
}

.title {
	text-align: center;
	color: white;
	font-family: 'Laila', serif;
	font-weight: bold;
	font-size: 20px;
	margin: 0;
}
