.Container {
	height: 100%;
	display: flex;
	/* background-image: url('../../assets/main_bg.png');
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat; */
}

.Content {
	height: 100%;
	width: 100%;
}

.button-container {
	display: flex;
	min-height: 220px;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

.button {
	display: flex;
	flex-direction: column;
	flex: 1;
	border-radius: 5px;

	margin-right: 20px;
	margin-left: 20px;
	justify-content: 'center';
}

.title {
	text-align: center;
	color: white;
	font-family: 'Laila', serif;
	font-weight: bold;
	font-size: 20px;
	margin: 0;
}
